:host {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  display: flex;
  flex-direction: column;

  .center-region {
    display: flex;
    flex-grow: 1;
  }

  .cell-container {
    flex-grow: 1;
    background-color: #28528f;

    display: grid;

    $thing: minmax(0, 1fr);
    grid-template-columns: $thing $thing $thing $thing;
    grid-template-rows: $thing $thing $thing $thing;

    $gap: 10px;
    padding: $gap;
    gap: $gap;

    &::before {
      content: "";
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
}

:host {
  ::ng-deep {
    .movement-button {
      padding: 0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 32px;
      min-width: 0;

      border-radius: 0;

      background-color: black;

      mat-icon {
        color: white;
      }
    }
  }
}
